.button {
  min-width: 75px;
  padding: 8px 14px;
  border: 1px solid var(--dark);
  border-radius: 2px;
  font-size: 10px;
  line-height: normal;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--dark);
  background-color: transparent;
  transition: color var(--transition-duration) var(--transition-function),
    background-color var(--transition-duration) var(--transition-function);
}

.button:disabled {
  border-color: var(--primary);
  color: var(--primary);
}

.button:enabled:hover,
.button:enabled:focus,
.button:enabled:active {
  border-color: var(--primary);
  color: var(--dark);
  background-color: var(--primary);
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-function),
    background-color var(--transition-duration) var(--transition-function);
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 200px;
  padding: 20px;
  color: var(--dark);

  font-size: var(--font-size-base);

  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-base);

  border-radius: 100px;
  background: var(--primary);
  cursor: pointer;
}

.button-primary__block {
  display: flex;
  /* gap: 8px; */
}

.button-primary__icon {
  display: flex;
  width: 0;
  height: 20px;
  margin-left: 0;
  opacity: 0;
  background: url("../img/cup.svg");

  transition: width var(--transition-duration) var(--transition-function),
    opacity var(--transition-duration) var(--transition-function),
    margin var(--transition-duration) var(--transition-function);
}

.button-primary:hover .button-primary__icon {
  width: 20px;
  opacity: 1;
  margin-left: 8px;

  transition: width var(--transition-duration) var(--transition-function),
    opacity var(--transition-duration) var(--transition-function),
    margin var(--transition-duration) var(--transition-function);
}
