.header {
  color: var(--dark);
}

.header__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__logo-icon {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
  }
}
