.hero {
  margin-bottom: 100px;
}

.hero__inner {
  min-height: 644px;
  padding: 100px;
  border-radius: var(--radius-standart);

  background: url("../img/hero-bg.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-standart);
}

.hero__heading {
  margin: 0;

  font-size: 72px;
  line-height: 105%;

  letter-spacing: -0.2px;

  color: var(--primary);
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__text {
  margin: 0;
  color: var(--primary);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
}

@media (max-width: 1439px) {
  .hero__inner {
    padding: 100px 60px;
  }
}

@media (max-width: 767px) {
  .hero__inner {
    padding: 60px 16px;
    /* min-height: 553px; */
    min-height: auto;
  }

  /* .hero__content {
    width: 316px;
  } */

  .hero__heading {
    font-size: 42px;
    font-weight: var(--font-weight-bold);
    line-height: 48.3px;
  }
}
