.menu {
  margin-bottom: 100px;
}

.menu__heading {
  margin: 0 auto;

  margin-bottom: 39px;
  max-width: 800px;
  color: var(--text-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-large);

  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-large);
}

.menu__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 190px;

  padding: 20px;
  padding-bottom: 13px;
}

.menu__text-content {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

.menu__image-container {
  height: 309px;
  border-radius: var(--radius-standart);
  overflow: hidden;
}

.menu__image {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: transform var(--transition-duration) var(--transition-function);

  object-fit: cover;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.menu__content {
  height: 100%;
  border-radius: var(--radius-standart);
  border: 1px solid var(--border-light);
}

.menu__heading2 {
  margin: 0;
  color: var(--title-color);
  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-big);

  font-weight: var(--font-weight-bold);
  line-height: 30px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, 310px);
  grid-template-rows: minmax(506px, 1fr);
  column-gap: var(--gap-standart);
  row-gap: 40px;

  margin-bottom: 40px;
}

.menu__item {
  min-height: 506px;

  cursor: pointer;
}

@media (hover: hover) {
  .menu__item:hover .menu__image {
    transform: scale(1);

    transition: transform var(--transition-duration) var(--transition-function);
  }
}

.menu__text {
  margin: 0;

  color: var(--text-color);
  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-base);

  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
}

.menu__price {
  color: var(--title-color);
  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-big);

  font-weight: var(--font-weight-bold);
  line-height: 30px;
}

.menu__container-load {
  display: none;
  justify-content: center;
}

.menu__load {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-dark);

  background-color: transparent;

  cursor: pointer;

  transition: all var(--transition-duration) var(--transition-function);
}

@media (hover: hover) {
  .menu__load:hover,
  .menu__load:focus {
    border-color: var(--background-container);
    background: var(--background-container);
    transition: all var(--transition-duration) var(--transition-function);
  }
}

.menu__load svg path {
  transition: all var(--transition-duration) var(--transition-function);
}

@media (hover: hover) {
  .menu__load:hover svg path,
  .menu__load:focus svg path {
    stroke: var(--primary);
    transition: all var(--transition-duration) var(--transition-function);
  }
}

@media (max-width: 1439px) {
  .menu__list {
    grid-template-columns: repeat(2, 310px);
    justify-content: center;
  }

  .menu__item:nth-child(n + 5) {
    display: none;
  }

  .menu__cards {
    /* margin-bottom: 40px; */
  }

  .menu__container-load {
    display: flex;
  }
}

@media (max-width: 767px) {
  .menu__heading {
    font-size: 32px;

    font-weight: var(--font-weight-bold);
    line-height: 40px;
  }

  .menu__list {
    grid-template-columns: repeat(1, 310px);
  }
}

.hide {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 0.6s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 0.6s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

.show-all .menu__item:nth-child(n + 5) {
  display: block;

  animation-name: fade;
  animation-duration: 0.6s;
}
