.mobile-app {
  margin-bottom: 94px;
}

.mobile-app__image {
  width: 100%;
}

.mobile-app__inner {
  display: flex;
  justify-content: space-between;
  min-height: 630px;
}

.mobile-app__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-standart);
  width: 630px;
}

.mobile-app__text {
  margin: 0;
  color: var(--text-color);
  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-base);

  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
}

.mobile-app__buttons {
  display: flex;
  gap: 20px;
}

.mobile-app__right {
  display: flex;
  width: 630px;
}

@media (max-width: 1439px) {
  .mobile-app__inner {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .mobile-app__left {
    /* max-width: 666px; */
    width: 662px;
    margin-bottom: 100px;
  }

  .mobile-app__right {
    align-self: center;
  }
}

@media (max-width: 767px) {
  .mobile-app__left {
    width: 100%;
    margin-bottom: 40px;
  }

  .mobile-app__right {
    /* width: 348px; */
    width: 100%;
    justify-content: center;
  }

  .mobile-app__inner {
    /* width: 300px; */
    justify-content: center;
  }

  .mobile-app__buttons {
    flex-wrap: wrap;
  }
}
