.nav__list {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-standart);
  padding-bottom: 6px;
  background-color: var(--primary);
  transition: all var(--transition-duration) var(--transition-function);
}

.nav__item {
  font-size: var(--font-size-medium);
  line-height: var(--font-line-height-medium);
}

.nav__item:last-child {
  margin-left: 324px;
}

@media (max-width: 1200px) {
  .nav__item:last-child {
    margin-left: 124px;
  }
}

@media (max-width: 1024px) {
  .nav__list {
    position: absolute;
    align-items: flex-start;
    justify-content: start;
    gap: 50px;
    top: 100px;
    left: 0;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    min-height: 924px;
    z-index: 9;

    transform: translate(120%, 0);
  }

  .nav__item:last-child {
    margin-left: 0;
    margin-top: 40px;
  }
}

.show-mobile-menu {
  position: absolute;
  flex-direction: column;
  transform: translate(0);
  transition: all var(--transition-duration) var(--transition-function);
}


@media (max-width: 767px) {
  .show-mobile-menu {
    /* min-height: 724px; */
    height: 100%;
  }
}