.slider-wrapper {
  margin-bottom: 21px;
  overflow: hidden;
}

.slider {
  position: relative;
}

.slider__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 33px;

  padding: 0 4px;
}

.slider__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 640px;

  /* margin-right: 25px; */
  cursor: pointer;
}

.slider__slide:last-child {
  padding-right: 0;
}

.slider__container {
  display: flex;
  transition: 0.6s all linear;
}

.slider__arrow {
  display: flex;
  align-items: center;
  padding: 0;

  width: 440px;
  height: 681px;
  outline: none;
  border: none;
  z-index: 100;

  background-color: transparent;

  cursor: pointer;

  transform: translateY(20px);

  transition: all var(--transition-duration) var(--transition-function);
}

.slider__arrow--rotate {
  transform: translateY(20px) rotate(180deg);
}

.slider__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  transition: all var(--transition-duration) var(--transition-function);
}

.slider__arrow:hover .slider__circle,
.slider__arrow:focus .slider__circle {
  border-color: var(--background-container);
  background: var(--background-container);
  transition: all var(--transition-duration) var(--transition-function);
}

.slider__arrow:hover svg path,
.slider__arrow:focus svg path {
  stroke: var(--primary);

  transition: all var(--transition-duration) var(--transition-function);
}

.slider__heading {
  margin: 0;
  margin-bottom: 16px;

  color: var(--title-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-big);

  font-weight: var(--font-weight-bold);
  line-height: 30px;
}

.slider__image {
  padding-top: 35px;
  margin-bottom: 20px;
}

.slider__content {
  margin: 0;
  margin-bottom: 16px;

  width: 480px;
  text-align: center;

  color: var(--text-color);

  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-base);

  font-weight: var(--font-weight-base);
  line-height: var(--font-line-height-base);
}

.slider__price {
  color: var(--title-color);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  font-size: var(--font-size-big);

  font-weight: var(--font-weight-bold);
  line-height: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__dot {
  display: flex;
  align-items: center;

  border: none;
  padding: 0 6px;
  /* width: 26px; */
  height: 16px;
  opacity: 1;
  background-color: transparent;

  transition: background-color var(--transition-duration)
    var(--transition-function);

  cursor: pointer;
}

/* .pagination__dot:nth-last-of-type(-n + 2) {
  display: none;
} */

.bullet {
  display: inline-block;

  width: 40px;
  height: 4px;

  border-radius: 100px;

  vertical-align: middle;

  background: var(--border-light);

  pointer-events: none;
}

.pagination__dot--active {
  pointer-events: none;
  cursor: auto;
}

.pagination__dot--active .bullet {
  background-color: var(--background-container);
  outline: none;
}

.pagination__dot:hover .bullet,
.pagination__dot:focus .bullet {
  background-color: var(--background-container);

  transition: background-color var(--transition-duration)
    var(--transition-function);
}

/* @media (max-width: 1439px) {
  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slider-wrapper {
    width: 450px;
    margin-bottom: 6px;
  }

  .slider__prev-arrow,
  .slider__next-arrow {
    display: block;
  }

  .pagination__dot:nth-child(n + 4) {
    display: block;
  }
} */

@media (max-width: 1439px) {
  .slider__inner {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .slider__arrow {
    display: none;
  }

  .slider__inner {
    justify-content: center;
    margin-bottom: 24px;
  }

  .slider__image {
    padding-top: 30px;
    margin-bottom: 15px;
    width: 348px;
  }

  .slider__slide {
    min-height: 581px;
  }

  .slider__content {
    width: 100%;
  }
}
