:root {
  /* Colors */
  --light: #fff;
  --grey: #8e8e8e;

  --dark: #403f3d;

  --black: #000;
  --primary: #e1d4c9;
  --accent: #b0907a;

  --border-light: #c1b6ad;
  --border-dark: #665f55;
  --background-container: #665F55;

  --bg-color: var(--primary);

  --footer-bg-color: var(--dark);

  --title-color: var(--dark);

  --button-color: var(--primary);
  --section-heading: var(--dark);

  --text-color: var(--dark);

  --footer-text-color: var(--light);

  /* Fonts */
  --font-family-default: "Arial", sans-serif;
  --font-family-custom: "Inter";
  /* --font-family-custom-sub: "Forum"; */

  --font-family: var(--font-family-custom), var(--font-family-default);
  /* --font-family-sub: var(--font-family-custom-sub), var(--font-family-default); */

  --font-size-base: 16px;
  --font-line-height-base: 24px;
  --font-weight-base: 400;

  --font-weight-bold: 600;

  --font-size-medium: 20px;
  --font-line-height-medium: 50px;

  --font-size-big: 24px;
  --font-line-height-big: 50px;

  --font-size-large: 60px;
  --font-line-height-large: 75px;

  /* Layout */
  --min-width: 640px;
  --gap-standart: 40px;

  --radius-standart: 40px;

  /* Transitions and Animations */
  --transition-duration: 0.5s;
  --transition-function: ease;
}
